h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

/* Preloader */

.preloader-wrap {
	display: grid;
	width: 100%;
	height: 100vh;

	background: rgba(45, 52, 54, 1);
	transition: 0.5s;

	justify-content: center;
	align-items: center;
}

.preloader-wrap > h1 {
	font-size: 56px;
	color: rgba(108, 92, 231, 1);
}

.App {
	width: 100%;
	min-height: 100vh;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 4fr 3fr;
	position: relative;

	font-family: sans-serif;
	background: rgba(45, 52, 54, 1);
}

.video-container {
	/* Outside */
	grid-column: 1/2;
	grid-row: 1/2;

	/* Inside  */
	display: grid;
	grid-template-columns: 2fr 8fr;
}

.videoplayerList {
	/* Outside */
	grid-column: 1/2;

	/* Inside */
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 10px;
}

.videoplayerList > :nth-child(9),
.videoplayerList > :nth-child(10) {
	border-bottom-width: 0px !important;
}

.videoplayerList > :nth-child(odd) {
	border-right: 1px solid rgba(178, 190, 195, 0.2);
}

.videoplayerList > :nth-child(n) {
	border-bottom: 1px solid rgba(178, 190, 195, 0.2);
}

.preview_wrap {
	height: 100%;
	width: 100%;
	display: grid;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
}

.preview {
	width: 70px;
	height: 70px;
}

.preview_wrap:hover {
	background: rgba(108, 92, 231, 0.15);
}

.videoplayer {
	grid-column: 2/3;
	padding: 15px 10px 10px 10px;
}

.videoplayer > div {
	width: 100%;
	height: 100%;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.donate-container {
	/* Outside */
	grid-column: 1/2;
	grid-row: 2/3;

	/* Inside */
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 3fr 1fr;
}

.targetsDonate {
	display: grid;
	justify-content: center;
	align-items: center;
}

.targetIcon_wrap {
	/* Outside */
	width: 100px;
	height: 175px;

	/* Inside */
	text-align: center;
	color: rgba(178, 190, 195, 1);
}

.targetIcon,
.targetIcon > img {
	width: 100px;
	height: 100px;
	overflow: hidden;
	border-radius: 50%;
}

.targetIcon_wrap:hover > .targetName > h3 {
	transform: translateY(34px);
}

.targetIcon_wrap:hover > .targetDonateToName > h3 {
	transform: translateY(0px);
	transition-delay: 0.15s;
}

.targetName {
	height: 30px;
	overflow: hidden;
}

.targetName > h3 {
	padding-bottom: 10px;
}

.targetName > h3,
.targetDonateToName > h3 {
	transition: 0.6s;
}

.targetDonateToName {
	height: 45px;
	overflow: hidden;
}

.targetDonateToName > h3 {
	transform: translateY(-42px);
}

.chat-container {
	grid-column: 2/3;
	grid-row: 1/3;
}

/* ____________ Modal Windows ____________________ */

.button-container {
	/* Inside */
	width: 150px;
	height: 40px;
	border-radius: 2px;
	border-width: 0px;
	background: rgba(108, 92, 231, 1);
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.rules-container {
	position: absolute;
	top: 20px;
	right: 20px;
}

.signup-container {
	position: absolute;
	top: 20px;
	right: 200px;
}

.default-btn {
	background: rgba(0, 0, 0, 0);
	border: none;
	border-radius: 2px;
	width: 100%;
	height: 100%;
	color: rgba(45, 52, 54, 1);
	font-size: 16px;
	font-weight: bold;
	transition: 0.3s;
	outline: none;
}

.default-btn:hover {
	color: rgba(178, 190, 195, 1);
	cursor: pointer;
}

.default-modal {
	/* Outside */
	display: none;
	opacity: 0;
	position: absolute;
	top: 0%;
	left: 0%;
	z-index: 9998;
	cursor: pointer;
	transition: opacity 0.7s;

	/* Inside */
	width: 100%;
	height: 100%;
	background: rgba(99, 110, 114, 0.6);
}

.default-innerModal {
	/* Outside */
	width: 700px;
	height: 500px;
	justify-self: center;
	align-self: center;
	z-index: 9999;

	/* Inside */
	padding: 20px;

	/* Text */
	color: rgba(223, 230, 233, 1);
	font-size: 18px;
}

.rules {
	/* Inside */
	position: relative;
	text-align: center;
	background: rgba(45, 52, 54, 0.7);
	overflow: hidden;
	overflow-y: scroll;
	cursor: default;
}

.rules-modal_scroll-icon {
	position: sticky;
	width: 25px;
	height: 25px;
	bottom: 0px;
	left: 0px;

	/* Crossbrowser */
	position: -webkit-sticky;
}

.rules-modal_scroll-icon > img {
	width: 100%;
	height: 100%;
}

.chat-container {
	display: grid;
	grid-template-rows: 2fr 3fr;
}

.promotion {
}

.livechat {
	padding: 10px;
	position: relative;
}

.livechat-wrapper {
	display: grid;
	grid-template-rows: 1fr 9fr;
	width: 100%;
	height: 100%;
}

.livechat-header {
	/* Inside */
	text-align: center;
	color: rgba(178, 190, 195, 1);
	font-weight: bold;

	/* Outside */
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.livechat-dialogue {
	padding: 0px 5px;
}

.livechat-dialogue > div {
	background: rgba(45, 52, 54, 1);
	width: 100%;
	height: 100%;
	display: grid;
	align-items: flex-end;
	grid-template-rows: 8fr 1fr;

	/* Outside */
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
}

.blur-block {
	width: 100%;
	height: 100%;
	filter: blur(3px);
}

.signin-Google {
	position: absolute;
	text-align: center;
	top: calc(40% - 21px);
	left: calc(50% - 90px);
}

.signin-vk {
	position: absolute;
	text-align: center;
	top: calc(60% - 21px);
	left: calc(50% - 90px);
	cursor: pointer;
}

.signin-vk:hover {
	opacity: 0.9;
}

.vk-auth-icon {
	margin-right: 10px;
	padding: 10px;
	width: 18px;
	height: 18px;
}

.vk-auth-icon > img {
	width: 18px;
	height: 18px;
}

.signin-vk > button {
	/* Btn styles */
	display: inline-flex;
	width: 180px;
	height: 43px;
	border-radius: 2px;
	font-size: 14px;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.54);
	font-family: Roboto, sans-serif;
	padding: 0px;
}

.signin-vk span {
	padding: 10px 10px 10px 0px;
}

.greetings-chat {
	display: none;
	position: absolute;
	top: calc(50% - 25px);
	left: calc(50% - 150px);
	transition: 1s;
	opacity: 1;
}

.greetings-chat > h2 {
	color: rgba(223, 230, 233, 1);
}

.greetings-chat span {
	padding: 15px;
	font-size: 40px;
}

.message-input-block {
	display: grid;
	width: 100%;
	grid-template-columns: 50px 1fr 50px;
}

.message-input-block > div {
	align-self: center;
	justify-self: center;
}

.message-input {
	background: rgba(108, 92, 231, 1);
	padding: 10px;
	border-radius: 10px;
	border: none;
	width: 350px;
	outline: none;
	font-size: 16px;
	font-weight: bold;
}

.message-input::placeholder {
	color: rgba(45, 52, 54, 1);
	font-size: 16px;
}

.send-message-button {
	background: rgba(108, 92, 231, 1);
	width: 35px;
	height: 35px;
	border-radius: 50%;
	border: 1px solid rgba(108, 92, 231, 1);
	outline: none;
	transition: border-color 0.3s;

	background-image: url(./img/send.svg);
	background-size: 20px 20px;
	background-position: top 7px left 4px;
	background-repeat: no-repeat;
}

.send-message-button:hover {
	border-color: rgba(223, 230, 233, 1);
}
.send-message-button:active {
	transform: scale(1.1);
}

.profile-icon {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.message-list-block {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 50px 50px 50px;
}

.my-message-block {
	display: grid;
	justify-content: flex-end;
	cursor: default;
	width: 100%;
}

.my-message-block > div,
.enemy-message-block > div {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 7px;
}

.my-message-block img,
.enemy-message-block img {
	width: 30px;
	height: 30px;
	padding: 10px;
	border-radius: 50%;
}

.my-message-block > p,
.enemy-message-block > p {
	padding: 10px;
}

.text-mess {
	color: rgba(178, 190, 195, 1);
}

.name-mess {
	color: rgba(108, 92, 231, 1);
}

.enemy-message-block {
	display: grid;
	justify-content: flex-start;
	cursor: default;
	width: 100%;
}

.common-donate-block {
	grid-column: 2/5;
	display: grid;
}

.common-donate-button {
	font-weight: bold;
	width: 450px;
	height: 50px;
	justify-self: center;
	align-self: flex-end;
	background: rgba(108, 92, 231, 1);
	font-size: 18px;
	border: none;
	color: rgba(178, 190, 195, 1);
	border-radius: 300px 300px 0px 0px;
	transition: 0.3s;
	outline: none;
}

.common-donate-button:hover {
	color: rgba(45, 52, 54, 1);
}
